<footer class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="bg-img-footer">
        <div class="footer-circle">
          <div class="footer-circle-imgs">
            <img
              src="../img/phone-icon.svg"
              alt="phone-icon"
              class="footer-icon"
            />
            <img
              src="../img/whatsapp-icon.svg"
              alt="whatsapp-icon"
              class="footer-icon"
            />
            <img
              src="../img/telegram-icon.svg"
              alt="telegram-icon"
              class="footer-icon"
            />
          </div>
          <span class="footer-circle-text">+7.923.239.3619</span>
          <span class="footer-circle-text">
            <img
              src="../img/mail-icon.svg"
              alt="mail-icon"
              class="footer-icon"
            />
            artbeer@gmail.com
          </span>
          <span class="footer-circle-text">
            <img
              src="../img/instagram-icon.svg"
              alt="mail-icon"
              class="footer-icon"
            />
            artbeerfactory
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
