<header class="container">
  <div class="row">
    <div class="col img-header"><img src="../img/bg-header.png" alt="bg" class="img-fluid"></div>
  </div>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light> 
        <a class="navbar-brand" href="#">Art Beer Factory</a> 
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"> 
          <span class="navbar-toggler-icon"> </span> 
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
          <ul class="navbar-nav ml-auto"> 
            <li class="nav-item"> 
              <a class="nav-link" href="#">LAGER</a> 
            </li> 
            <li class="nav-item"> 
              <a class="nav-link" href="#">STOUT</a> 
            </li> 
            <li class="nav-item"> 
              <a class="nav-link" href="#">PORTER</a> 
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="#">IPA</a> 
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="#">CIDER</a> 
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="#">BLANCHE</a> 
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="#">FRUIT BEER</a> 
            </li>
          </ul> 
        </div> 
    </nav> 
    </div>
  </div>
</header>