.block1-text-absolute {
  position: absolute;
  right: 5%;
  top: 5%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.bg-img-header {
  background: url(../img/bg-header.png) center repeat;
  background-size: auto 100%;
}

.bg-img-footer {
  background: url(../img/bg-footer.png) center repeat;
  background-size: auto 100%;
}

.vmiddle {
  display: flex;
  align-items: center;
}
